<div class="order_history_content customer_tab_content">
  <div id="order_history_table">
    <table id="order_history" class="display" data-source="<%= "/customers/#{customer.id}/list_orders" %>">
      <thead>
      <tr>
        <th><%= t('.date') %></th>
        <th><%= t('.order_id') %></th>
        <th><%= t('.value') %></th>
        <th><%= t('.status') %></th>
        <th><%= t('.order_information') %></th>
      </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>
