<% content_for :head do %>
    <%= javascript_include_tag 'datatables/reports' %>
<% end %>

<div id="select_pane" style="margin-bottom: 200px;">
  <div>
    <table id="reports" class="display" data-source="<%= reports_path(format: "json") %>">
      <thead>
      <tr>
        <th><%= t('.report_type') %></th>
        <th><%= t('.date_time') %></th>
        <th><%= t('.user') %></th>
        <th><%= t('.report_file') %></th>
        <th><%= t('.show') %></th>
      </tr>
      </thead>
      <tfoot style="display: none;">
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </tfoot>
      <tbody>

      </tbody>
    </table>
  </div>

</div>



<div id="pdf_wrapper" style="display: none;">
  <button id="close_pdf_viewer" class="btn btn-inverse" style="float: right; margin-bottom: 10px;" type="button"><%= t('.close') %></button>
  <div id="pdf_viewer"></div>
</div>

<script type="text/javascript">

    var report_types = new Array();
    <% for report_type in Report.by_company(@current_user.company_id).group(:report_type) %>
    report_types.push('<%= report_type.report_type %>');
    <% end %>

</script>